version: "3.9"

services:
  # =========================
  # Redis
  # =========================
  redis:
    image: redis:7-alpine
    container_name: pos_redis
    expose:
      - "6379"
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # RabbitMQ
  # =========================
  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: pos_rabbitmq
    expose:
      - "5672"
    ports:
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # Database API
  # =========================
  database_api:
    build:
      context: ./backend/database
      dockerfile: Dockerfile
    container_name: database_api
    expose:
      - "8002"
    environment:
      PYTHON UNBUFFERED: 1
      DATABASE_URL: sqlite+aiosqlite:///./data/pos_system.db
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    volumes:
      - pos_data:/app/data
    depends_on:
      - rabbitmq
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # Auth API
  # =========================
  auth_api:
    build:
      context: ./backend/auth
      dockerfile: Dockerfile
    container_name: auth_api
    expose:
      - "8003"
    environment:
      PYTHON UNBUFFERED: 1
      DATABASE_SERVICE_URL: http://database_api:8002
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      ALGORITHM: HS256
      TOKEN_EXPIRE_DAYS: 7
    depends_on:
      - redis
      - rabbitmq
      - database_api
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # Admin API
  # =========================
  admin_api:
    build:
      context: ./backend/admin
      dockerfile: Dockerfile
    container_name: admin_api
    expose:
      - "8001"
    environment:
      PYTHON UNBUFFERED: 1
      DATABASE_SERVICE_URL: http://database_api:8002
      AUTH_SERVICE_URL: http://auth_api:8003
    depends_on:
      - auth_api
      - database_api
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # Order API
  # =========================
  order_api:
    build:
      context: ./backend/order
      dockerfile: Dockerfile
    container_name: order_api
    expose:
      - "8004"
    environment:
      PYTHON UNBUFFERED: 1
      DATABASE_SERVICE_URL: http://database_api:8002
      AUTH_SERVICE_URL: http://auth_api:8003
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - auth_api
      - database_api
      - rabbitmq
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # Staff API
  # =========================
  staff_api:
    build:
      context: ./backend/staff
      dockerfile: Dockerfile
    container_name: staff_api
    expose:
      - "8005"
    environment:
      PYTHON UNBUFFERED: 1
      DATABASE_SERVICE_URL: http://database_api:8002
      ORDER_SERVICE_URL: http://order_api:8004
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      ALGORITHM: HS256
      TOKEN_EXPIRE_DAYS: 7
    depends_on:
      - redis
      - database_api
    restart: unless-stopped
    networks:
      - pos_network

  # =========================
  # Frontend (Nginx)
  # =========================
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: pos_frontend
    ports:
      - "80:80"
    # volumes:
      # - ./frontend/dist:/usr/share/nginx/html:ro
      # - ./frontend/nginx.local.conf:/etc/nginx/conf.d/default.conf:ro

    depends_on:
      - admin_api
      - auth_api
      - order_api
      - staff_api
      - database_api
    restart: unless-stopped
    networks:
      - pos_network

# =========================
# Networks
# =========================
networks:
  pos_network:
    driver: bridge

# =========================
# Volumes
# =========================
volumes:
  pos_data:
  rabbitmq_data:
